{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react"
  ],
  "env": {
    "browser": true
  },
  "rules": {
    "semi": [2, "never"],
    "space-infix-ops": 2,
    "max-len": [2, 120, 2],
    "space-before-function-paren": [2, "never"],
    "react/jsx-no-bind": [1, { "allowArrowFunctions": true }],
    "react/self-closing-comp": [1, { "component": true, "html": true }],
    "jsx-quotes": [2, "prefer-double"],
    "comma-dangle": [2, "always-multiline"]
  }
}
